[submodule "pcb/kicad/libs/keyboard_parts.pretty"]
	path = pcb/kicad/libs/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty
[submodule "pcb/kicad/libs/kicad_lib_tmk"]
	path = pcb/kicad/libs/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk
